@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.sidebar {
  width: 250px; /* 사이드바의 너비 */
  height: 100vh; /* 화면의 높이를 전체 사용 */
  background-color: #cfcfcf; /* 배경 색상 */
  padding: 20px; /* 내부 여백 */
  position: fixed; /* 화면의 왼쪽에 고정 */
  top: 0;
  left: 0;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능 */
}

.sidebar h1 {
  font-size: 24px; /* 제목의 글자 크기 */
  margin-bottom: 20px; /* 아래 여백 */
  color: blue;
}

.sidebar a {
  display: block; /* 링크를 블록 요소로 만듦 */
  padding: 10px 0; /* 내부 여백 */
  color: #333; /* 글자 색상 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 18px; /* 글자 크기 */
}

.sidebar a:hover {
  background-color: #ddd; /* 마우스 오버 시 배경 색상 변경 */
  color: #000; /* 마우스 오버 시 글자 색상 변경 */
}

/* 새로운 main-content 스타일 추가 */
.main-content {
  margin-left: 250px; /* 사이드바의 너비만큼 왼쪽 여백 추가 */
  padding: 20px; /* 내부 여백 */
}

.task-item {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-item:hover {
  background-color: #aaaaaa;
}

.task-page {
  display: flex;
  flex-direction: row;
  height: 94.5vh;
}

/* resizeable main & sub view */
.main-view {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 100%;
  display: flex;
  border: #cdcdcd 1px solid;
  flex-direction: row;
  background: #ffffff;
  z-index: 2;
}

.sub-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  max-height: 100%;
  border: #cdcdcd 1px solid;
  border-left: none; /* 왼쪽 테두리 제거 */
  background: #ffffff;
  z-index: 1;
}

.main-view .main-view-content {
  flex: 1;
}

.main-sub-view-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.main-sub-view-resizer:hover {
  width: 3px;
  background: #c1c3c5b4;
}

/* 기본 버튼 스타일 */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 버튼에 마우스를 올렸을 때의 스타일 */
button:hover {
  background-color: #0056b3;
}
