@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #353841;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 2px;
  margin: 0;
}

.menuItem a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.menuItem:hover {
  background-color: #2d3038;
}

.menuItem.active {
  background-color: var(--primary-color);
}

.menuItem svg,
.menuItem img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

/* 기존 main-content 스타일 수정 */
.main-content {
  margin-left: 240px; /* 사이드바의 너비만큼 왼쪽 여백 수정 */
  padding: 20px;
}

/* 기존의 다른 스타일들은 그대로 유지 */
.task-item {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-item:hover {
  background-color: #aaaaaa;
}

.task-page {
  display: flex;
  flex-direction: row;
  height: 94.5vh;
}

/* resizeable main & sub view */
.main-view {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 100%;
  display: flex;
  border: #cdcdcd 1px solid;
  flex-direction: row;
  background: #ffffff;
  z-index: 2;
}

.sub-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  max-height: 100%;
  border: #cdcdcd 1px solid;
  border-left: none;
  background: #ffffff;
  z-index: 1;
}

.main-view .main-view-content {
  flex: 1;
}

.main-sub-view-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.main-sub-view-resizer:hover {
  width: 3px;
  background: #c1c3c5b4;
}

/* 기본 버튼 스타일 */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 버튼에 마우스를 올렸을 때의 스타일 */
button:hover {
  background-color: var(--primary-color);
}
